<iframe width="100%" height="850" frameborder="0" seamless="seamless" scrolling="no" src="/us_map_r_values.html"></iframe>
<iframe width="100%" height="850" frameborder="0" seamless="seamless" scrolling="no" src="/us_map_cur_cur_infected.html"></iframe>
<iframe width="100%" height="850" frameborder="0" seamless="seamless" scrolling="no" src="/us_map_fut_cur_infected.html"></iframe>
<iframe width="100%" height="850" frameborder="0" seamless="seamless" scrolling="no" src="/us_map_cur_total_infected.html"></iframe>
<iframe width="100%" height="850" frameborder="0" seamless="seamless" scrolling="no" src="/us_map_fut_total_infected.html"></iframe>
<iframe width="100%" height="850" frameborder="0" seamless="seamless" scrolling="no" src="/us_map_cur_total_deaths.html"></iframe>
<iframe width="100%" height="850" frameborder="0" seamless="seamless" scrolling="no" src="/us_map_fut_total_deaths.html"></iframe>
<iframe width="100%" height="850" frameborder="0" seamless="seamless" scrolling="no" src="/us_map_fut_addl_deaths.html"></iframe>
