<iframe width="100%" height="850" frameborder="0" seamless="seamless" scrolling="no" src="/us_map_cases_status.html"></iframe>
<iframe width="100%" height="850" frameborder="0" seamless="seamless" scrolling="no" src="/us_map_r_values.html"></iframe>
<iframe width="100%" height="800" frameborder="0" seamless="seamless" scrolling="no" src="/global_map_cases_status.html"></iframe>
<iframe width="100%" height="800" frameborder="0" seamless="seamless" scrolling="no" src="/global_map_r_values.html"></iframe>
