<iframe width="100%" height="850" frameborder="0" seamless="seamless" scrolling="no" src="/us_map_c19pro_score_cases.html"></iframe>
<iframe width="100%" height="850" frameborder="0" seamless="seamless" scrolling="no" src="/us_map_c19pro_score_deaths.html"></iframe>
<iframe width="100%" height="800" frameborder="0" seamless="seamless" scrolling="no" src="/global_map_c19pro_score_cases.html"></iframe>
<iframe width="100%" height="800" frameborder="0" seamless="seamless" scrolling="no" src="/global_map_c19pro_score_deaths.html"></iframe>
