<iframe width="100%" height="500" frameborder="0" seamless="seamless" scrolling="no" src="/infections/map_slider_new_vaccinations.html"></iframe><br>
<iframe width="100%" height="500" frameborder="0" seamless="seamless" scrolling="no" src="/infections/map_slider_new_vaccinations_2nd_dose.html"></iframe><br>
<iframe width="100%" height="500" frameborder="0" seamless="seamless" scrolling="no" src="/infections/map_slider_total_vaccinations.html"></iframe><br>
<iframe width="100%" height="500" frameborder="0" seamless="seamless" scrolling="no" src="/infections/map_slider_total_vaccinations_2nd_dose.html"></iframe><br>
<iframe width="100%" height="500" frameborder="0" seamless="seamless" scrolling="no" src="/infections/map_slider_perc_doses_used.html"></iframe><br>
<iframe width="100%" height="500" frameborder="0" seamless="seamless" scrolling="no" src="/infections/map_slider_new_infected.html"></iframe><br>
<iframe width="100%" height="500" frameborder="0" seamless="seamless" scrolling="no" src="/infections/map_slider_current_infected.html"></iframe><br>
<iframe width="100%" height="500" frameborder="0" seamless="seamless" scrolling="no" src="/infections/map_slider_total_infected.html"></iframe><br>
<iframe width="100%" height="500" frameborder="0" seamless="seamless" scrolling="no" src="/infections/map_slider_rt.html"></iframe><br>
<iframe width="100%" height="500" frameborder="0" seamless="seamless" scrolling="no" src="/infections/map_slider_positivity_rate.html"></iframe><br>
<iframe width="100%" height="500" frameborder="0" seamless="seamless" scrolling="no" src="/infections/map_slider_daily_cases.html"></iframe><br>
<iframe width="100%" height="500" frameborder="0" seamless="seamless" scrolling="no" src="/infections/map_slider_daily_deaths.html"></iframe><br>
<iframe width="100%" height="500" frameborder="0" seamless="seamless" scrolling="no" src="/infections/map_slider_daily_tests.html"></iframe><br>
<iframe width="100%" height="500" frameborder="0" seamless="seamless" scrolling="no" src="/infections/map_slider_current_hospitalized.html"></iframe><br>
<iframe width="100%" height="500" frameborder="0" seamless="seamless" scrolling="no" src="/infections/map_slider_total_cases.html"></iframe><br>
<iframe width="100%" height="500" frameborder="0" seamless="seamless" scrolling="no" src="/infections/map_slider_total_deaths.html"></iframe><br>
