<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@youyanggu">
    <meta name="twitter:title" content="{% if page.url == "/" %}{{ site.title }} – covid19-projections.com{% else %}{{ page.title }} – {{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | xml_escape }}{% else %}{{ site.description | strip_html | xml_escape }}{% endif %}">
    <meta name="twitter:image" content="{% if page.url == "/donate/" %}https://youyanggu.com/images/c19pro_donate.png{% elsif page.url == "/path-to-herd-immunity/" %}https://youyanggu.com/images/c19pro_path_to_herd_immunity.png{% else %}https://youyanggu.com/images/c19pro_home_2020-12-16.png{% endif %}" />

    <!-- Facebook OpenGraph -->
    <meta property="og:title" content="{% if page.url == "/" %}{{ site.title }} – covid19-projections.com{% else %}{{ page.title }} – {{ site.title }}{% endif %}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | xml_escape }}{% else %}{{ site.description | strip_html | xml_escape }}{% endif %}" />
    <meta property="og:image" content="{% if page.url == "/donate/" %}https://youyanggu.com/images/c19pro_donate.png{% elsif page.url == "/path-to-herd-immunity/" %}https://youyanggu.com/images/c19pro_path_to_herd_immunity.png{% else %}https://youyanggu.com/images/c19pro_home_2020-12-16.png{% endif %}" />

	<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5fd614b8bd937f001265f4d9&product=inline-share-buttons' async='async'></script>
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <a href="/" class="btn">Home</a>
        <a href="/path-to-herd-immunity" class="btn">Path to Herd Immunity</a>
        <a href="/#view-us-infections-estimates" class="btn">Infections / Vaccination Estimates</a>
        <a href="/#us-counties-infections-estimates" class="btn">County Estimates</a>
        <a href="/infections/summary-counties" class="btn">Counties Summary</a>
        <a href="/maps-infections" class="btn">Maps</a>
        <a href="/about" class="btn">About</a>
        <a href="/contact" class="btn">Contact</a>
        <a href="/donate" class="btn btn_donate">DONATE</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="#top">Back to Top</a></span>
    <br />
    <span class="site-footer-owner"><i>View and download our raw projections <a href="{{ site.github.repository_url }}" target="_blank">on GitHub</a></i>. Created by <a href="https://youyanggu.com" target="_blank">Youyang Gu</a></span>
      </footer>
    </main>
  </body>
</html>
