<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <a href="/" class="btn">Home</a>
        <a href="/about" class="btn">About</a>
        <a href="/#view-us-infections-estimates" class="btn">View Infections Estimates</a>
		<a href="/maps-infections.md" class="btn">Maps</a>
        <a href="/infections-tracker" class="btn">Infections Tracker</a>
        <a href="/contact" class="btn">Contact</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="#top">Back to Top</a></span>
		<br />
		<span class="site-footer-owner"><i>View and download our raw projections <a href="{{ site.github.repository_url }}" target="_blank">on GitHub</a></i>. Created by <a href="https://youyanggu.com" target="_blank">Youyang Gu</a></span>
      </footer>
    </main>
  </body>
</html>
